node_modules
**/node_modules
**/node_modules/**
packages/*/node_modules
packages/*/node_modules/**
dist
out
*.tsbuildinfo
coverage
.vscode-test
*.vsix
*.tgz
.env
.env.*
.DS_Store
Thumbs.db
*.log
.turbo
.npm-cache
secrets*
*.test.*

docs
docs/**

# IgnoreKit
# Added from VS Code Explorer
docs/superpowers
/docs/
docs/superpowers/
docs/superpowers/plans/
docs/superpowers/specs/
# End IgnoreKit
